* {
  box-sizing: border-box;
}
/* ===LAYOUT STYLES=== */
body {
  width: 100vw;
  height: 100vh;
  background: url(assets/freedom.jpg) no-repeat center;
  background-size: cover;
}
.wrapper {
  display: block;
  font-size: 2.5rem;
  width: 90%;
  text-align: center;
  padding-top: 4rem;
  margin-left: 3rem;
}
.quote {
font-family: 'Signika', sans-serif;
margin: o auto;
margin-top: 4rem;
}
.author {
  font-family: 'Crimson Text', serif;
}